* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c3b1e1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #221e1f;
  margin-top: 25px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#kanye-pic {
  margin-top: 10px;
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
}

.quote-container {
  padding: 0px 10px;
  font-size: 2rem;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-container p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #221e1f;
  padding: 0 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  background-color: #853082;
  color: #221e1f;
  border: none;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: #b25186;
}

.footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  bottom: 0;
  height: 1.5rem;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 5px;
}

@media screen and (min-width: 950px) {
  .header {
    font-size: 2rem;
  }

  #kanye-pic {
    margin-top: 25px;
    width: 650px;
    min-height: 500px;
    max-height: 600px;
  }

  .quote-container p {
    font-size: 2.5rem;
    padding: 0 250px;
  }

  .footer {
    font-size: 1rem;
  }
}
